{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>

     <title>DS Builder</title>
<!--

DIGITAL TREND

https://templatemo.com/tm-538-digital-trend

-->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="{% static 'front/css/bootstrap.min.css'%}">
     <link rel="stylesheet" href="{% static 'front/css/font-awesome.min.css'%}">
     <link rel="stylesheet" href="{% static 'front/css/aos.css'%}">
     <link rel="stylesheet" href="{% static 'front/css/owl.carousel.min.css'%}">
     <link rel="stylesheet" href="{% static 'front/css/owl.theme.default.min.css'%}">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static 'front/css/templatemo-digital-trend.css'%}">

</head>
<body>

     <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/">
              <i class="fa fa-line-chart"></i>
              DS Builder
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/login" class="nav-link smoothScroll">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="/dataset" class="nav-link smoothScroll">Datasets</a>
                    </li>
                    <li class="nav-item">
                        <a href="/blog" class="nav-link">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a href="contact.html" class="nav-link contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>






    {%block mainblock%} {% endblock %}





    
    <footer class="site-footer">
        <div class="container">
          <div class="row">
  
            <div class="col-lg-5 mx-lg-auto col-md-8 col-10">
              <h1 class="text-white" data-aos="fade-up" data-aos-delay="100">Creating unique  <strong>datasets</strong> </h1>
            </div>
  
            <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="200">
              <h4 class="my-4">Contact Info</h4>
  
              <p class="mb-1">
                <i class="fa fa-phone mr-2 footer-icon"></i> 
                09013883662
              </p>
  
              <p>
                <a href="#">
                  <i class="fa fa-envelope mr-2 footer-icon"></i>
                  DSBuilder@company.com
                </a>
              </p>
            </div>
  
            <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="300">
              <h4 class="my-4">we are here</h4>
  
              <p class="mb-1">
                <i class="fa fa-home mr-2 footer-icon"></i> 
                SHIRAZ
              </p>
            </div>
  
            <div class="col-lg-4 mx-lg-auto text-center col-md-8 col-12" data-aos="fade-up" data-aos-delay="400">
              <p class="copyright-text">Copyright &copy; 2023 DSBuilder
              <br>
              <a rel="nofollow noopener" href="https://templatemo.com">Design: P.Emami</a></p>
            </div>
  
            
  
          </div>
        </div>
      </footer>
  
  
       <!-- SCRIPTS -->
       <script src="{% static 'front/js/jquery.min.js'%}"></script>
       <script src="{% static 'front/js/bootstrap.min.js'%}"></script>
       <script src="{% static 'front/js/aos.js'%}"></script>
       <script src="{% static 'front/js/owl.carousel.min.js'%}"></script>
       <script src="{% static 'front/js/smoothscroll.js'%}"></script>
       <script src="{% static 'front/js/custom.js'%}"></script>
  
  </body>
  </html>